@import "tailwindcss";
@import "tailwindcss/utilities";

/* -------------------------
   Allow dark variant
-------------------------- */
@custom-variant dark (&:where(.dark, .dark *));
/* -------------------------
   Default (light mode)
-------------------------- */
:root {
  --foreground: #171717;
}

/* -------------------------
   Dark mode
-------------------------- */
html.dark {
  --foreground: #ededed;
}

/* Auto if user prefers dark */
@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    --foreground: #ededed;
  }
}

/* -------------------------
   Global styles
-------------------------- */
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}