@import "tailwindcss";
@import "tailwindcss/utilities";

/* -------------------------
   Allow dark variant
-------------------------- */

@custom-variant dark (&:where(.dark, .dark *));

/* -------------------------
   Default (light mode)
-------------------------- */
:root {
  --foreground: #171717;
}

/* -------------------------
   Dark mode
-------------------------- */
html.dark {
  --foreground: #ededed;
}

/* Auto if user prefers dark */
@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    --foreground: #ededed;
  }
}

/* -------------------------
   Global styles
-------------------------- */
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Transition changing theme */
html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Common elements */
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease;
}

/* -------------------------
   Fade In Animation
-------------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}
